.wrapper {
    height: 100vh;
    background-image: url("./Football.jpg");
    background-position: center;
    background-size: cover;
}
.clip-path{
    clip-path: polygon(60% 0, 53% 52%, 100% 100%, 0 100%, 0 0);
    background-color:rgb(167, 170, 159);
    opacity: 0.4;
    width: 77%;
    height: 100vh;
    float: left;
    shape-outside: polygon(60% 0, 53% 52%, 100% 100%, 0 100%, 0 0);
}
.wrapper__content {
    padding-top: 8%;
    padding-right: 10%;
}
.wrapper__title{
    font-size: 70px;
    color: aliceblue;
    margin-bottom: 30px;
}
.wrapper__text {
    font-size: 30px;
    color: aliceblue;
    line-height: 1.5;
    text-indent: 40px;
    margin-bottom: 20px;
}
